#sixth{
    height: 80vh;
    margin-top: 5px;
    background-image: url("photo/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.para4{
    font-size: 70px;
    padding: 50px;

}
.para4 p{
    margin: 0;
    color: aliceblue;
}
.para4 span{
    color: red;
}
.last{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.last img{
    height: 60px;
    width: 60px;
}
.con1{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.whts{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 10px;
    
}
.whts p{
    padding-left: 10px;
}
.whts:hover{
    border: 0px;
}
.mailme{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    
    backdrop-filter: blur(40px);
    padding: 10px;
    border-radius: 20px;
}
.mailme p{
    padding-left: 10px;
}
.mailme:hover{
    border: 0px;
}
.callme{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
   
    backdrop-filter: blur(40px);
    padding: 10px;
    border-radius: 20px;
}
.callme p{
    padding-left: 10px;
}
.callme:hover{
    border: 0px;
}
.linked{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
   
    backdrop-filter: blur(40px);
    padding: 10px;
    border-radius: 20px;
}
.linked p{
    padding-left: 10px;
}
.linked:hover{
    border: 0px;
}
.git{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    
    backdrop-filter: blur(40px);
    padding: 10px;
    border-radius: 20px;
}
.git p{
    padding-left: 10px;
}
.git:hover{
    border: 0px;
}
.instaa{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    
    backdrop-filter: blur(40px);
    padding: 10px;
    border-radius: 20px;
}
.instaa p{
    padding-left: 10px;
}
.instaa:hover{
    border: 0px;
}
.con2{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}
.con1 div{
    border-right: 4px solid red;
    border-bottom: 4px solid red;
}
.con2 div{
    border-right: 4px solid red;
    border-bottom: 4px solid red;
}

